<%= form_for(@risp_project_service) do |f| %>
  <% if @risp_project_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@risp_project_service.errors.count, "error") %> prohibited this risp_project_service from being saved:</h2>

      <ul>
      <% @risp_project_service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.select :project_id, Project.where(:status => Project::STATUS_ACTIVE).all.collect { |p| [p.name, p.id] } %>
  </div>
  <div class="field">
    <%= f.label :service_id %><br />
    <%= f.select :service_id, RispService.all.collect { |s| [s.name, s.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
