<div class="contextual">
<%= link_to l(:service__new), {:controller => 'redmine_isp_admin', :action => 'add_service'}, :class => 'icon icon-add' %>
<%= link_to l(:service_links), {:controller => 'redmine_isp_admin', :action => 'links'}, :class => 'icon icon-summary' %>
</div>

<h2>Services</h2>


<div class="autoscroll">
<table class="list">
  <thead><tr>
  <th>Name</th>
  <th>Description</th>
  <th>Measure unit</th>
  <th></th> 
  </tr></thead>
  <tbody>
	<% for service in @services -%>
	  <tr class="<%= cycle("odd", "even") %>">
	  <td class="servicename"><%= service.name %></td>
	  <td class="servicedesc"><%= service.description %></td>
	  <td class="servicemunit"><%= service.measure_unit %></td>
	  <td class="buttons">
	  ... 
	  </td>
	  </tr>
	<% end -%>
  </tbody>
</table>
</div>